body {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0px;
  background: #fff;
  font-family: "Montserrat", sans-serif;
}

#pullDown {
  display: none;
}

label[for="pullDown"] {
  display: block;
  background-color: #0eb3c7;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

#headerMenu {
  background-color: #f0f0f0;
  padding: 10px;
  display: none;
  border-bottom: 1px solid #ccc;
}

#pullDown:checked + label + #headerMenu {
  display: block;
}

.select {
  margin: 10px 0;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.green {
color:#198b16;
}

.red {
color:#FF0000;
}

      .regForm {
          position: absolute;
          top: 2in;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          width: max-content;
      }
      
      .clabel {
          display: inline-block;
          width: 170px;
          text-align: left;
          font-weight: bold;
          padding-right: 5px;
      }
      
      .cinput {
          display: inline-block;
      }

        .ia {
        display: inline-block;
        float: left;
        }

      .controls {
          border-top: 30px solid #fff;
          display: none; 
      }

      .controls ul {
          list-style: none;
          display: flex;
          justify-content: center;
          padding: 0;
          margin: 0;
          gap: 7.5px; 
      }
      .controls li {
          align-items: center;
          display: inline-block;
          width: 5%;
      }

      .controls a {
          width: 50%;
          padding: 20px 15px;
          font-size: 1.4em;
          cursor: pointer;
          background: #D6D6D6;
          transition: background .3s, color .3s;
          vertical-align: middle;
      }
      
      .controls a:hover,
      .controls a.active {
          background: #0EBEC7;
          color: #fff;
      }

.webrtcbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0eb3c7; 
    border-radius: 50%;
    color: #5244EE;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}
